* {
	margin: 0;
	padding: 0;
}
.naslovna {
	height: 80vh;
	background-image: url(../slike/automobili/naslovna.png);
	background-size: cover;
	background-position: center -100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.automobili {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 20px;
}
.kartica {
	flex: 1 1 30%;
	margin: 10px;

	background-color: rgb(235, 235, 235);
	font-family: sans-serif;
}
.opis {
	margin: 10px 0;
}
.kartica img {
	width: 100%;
}

.spec {
	padding: 15px;
}
.podaci {
	margin: 20px 0;
}
.podaci span {
	margin-right: 10px;
	background-color: white;
}

.cena {
	display: flex;
	justify-content: space-between;
}
.cena span {
	color: rgb(169, 73, 96);
	font-size: 1.3rem;
}
footer {
	background-color: rgb(43, 43, 45);
	color: white;
	text-align: center;
	font-size: 1rem;
	padding: 20px;
}

@media (max-width: 700px) {
	.kartica {
		flex: 1 1 45%;
	}
}
